#mchoice{
    width: 15px;
    vertical-align: middle;
}

.ac{
    display: flex;
    width: 1000px;
    /* justify-content: space-evenly; */
    margin-left: 140px;
}

.ac>label>span{
    font-size: 15px;
}