.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#logo{
    width: 150px;
    height: 80px;
}


#menubar{
    width: 60px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
}

#hr{
    width: 100%;
}

#alarm{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}


#human{
    width: 35px;
    height: 35px;
    margin-left: 20px;
}

.end{
    margin-top: 15px;
    margin-right: 10px;
}
