.text-margin-left-200 {
    margin-left: 200px;
    display: flex;
}

.m-l-200 {
    margin-left:200px;
}

.m-l-300 {
    margin-left: 300px;
}

.text-margin-left-10 {
    margin-left: 10px;
}

.text-margin-left-20 {
    margin-left: 20px;
}

.text-margin-left-30 {
    margin-left: 30px;
}

.text-margin-top-150 {
    margin-top: 100px;
}

.flex {
    display: flex;
}

.text-right {
    margin-left: auto;
}

.text-margin-right-10 {
    margin-right: 10px;
}

.m-r-200 {
    margin-right:200px;
}

.text-top-1 {
    margin-top: 14px;
}

.m-t-10 {
    margin-top: 10px;
}

.text-top-2 {
    margin-top: 24px;
}

.box {
    display: flex;
}

.noticeBoard {
    background: white;
    width: 700px;
    height: 300px;
    border-top: solid 2px gray;

}

.decoration {
    text-decoration: none;
    color: black;
}

.noticeBoard:hover {
    background-color: rgb(234, 234, 234);
}

.border-right {
    border-right: solid 1px gray;
}

.scrap {
    cursor:pointer;
    transition: transform 300ms ease;
}

.scrap:hover {
    transform: scale(1.1);
}

.two-box {
    margin-left: 180px;
    display: inline-block;
    width: 30%;
    justify-content: center;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.line {
    width: 90%;
    border: 0px;
    border-top: 2px dashed rgb(187, 187, 187);
}

.img-size {
    width: 50%;
    /* height: 55%; */
    align-content: center;
    justify-content: center;
}

.center {
    justify-content: center;
    text-align: center;
}

.round-box {
    background-color: #67595E;
    width: 200px;
    height: 80px;
    border-radius: 30px;
    /* margin-top: 30px; */
    margin: 50px auto ;
}

.text-recom {
    margin-top: 10px;
    font-size: 45px;
    color: white;
}

.box-comment {
    width: 1200px;
    height: 120px;
    /* margin-left: 100px; */
    margin: 0 0 auto;
    display: flex;
    background-color: white;
    border: solid 5px #E5E8CB;
}

.brown-round {
    background-color: #67595E;
    width: 80px;
    height: 50px;
    border-radius: 20px;
    color: white;
    /* justify-content: center; */
    margin: auto;
}