.header{
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
#logo{
    width: 130px;
    margin-top: 10px;
}

.item {
    margin-top: auto;
}

.item > svg {
    border: solid 1.5px #67595e;
    border-radius: 8px;
}