.body{
    margin: auto;
}
.sidebar{
    width: 130px;
    height: 50px;
    padding-top: 10%;
    padding-left: 40px;
}

#arrow{
    width: 20px;
    height: 15px;
    padding-top: 10px;
}

#list{
    padding-left: 430px;

}