.filter{
    width: 1290px;
    height: 100px;
    margin: 10px;
    float: right;
    margin-top: 80px;
    background-color: antiquewhite;


}

.root{
    width: 1300px;
    height: 1000px;
    float: left;

    margin: 10px;
}

.list{
    width: 1300px;
    height: auto;

    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: antiquewhite;
    margin-left: 43px;
    align-content: flex-start;

}

figcaption{
    text-align: center;
}