.filter{
    width: 1290px;
    height: 100px;
    background-color: yellow;
    margin: 10px;
    float: right;


}

.root{
    width: 1300px;
    height: 1000px;
    float: left;
    background-color: beige;
    margin: 10px;
}

.list{
    width: 1300px;
    height: 500px;
    background-color: bisque;
    clear: both;

}