.header{
    width: auto;
    height: 30px;
}
#logo{
    width: 120px;
    height: 70px;
    padding-left: 38%;
}
#menubar{
    width: 60px;
    height: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
}

#alarm{
    width: 40px;
    height: 40px;
    padding-left:580px;
    padding-bottom: 10px;
}


#human{
    width: 35px;
    height: 35px;
    padding-left: 20px;
    padding-bottom: 10px;
}
