.sidebar{
    width: 130px;
    height: 600px;
    padding-top: 30px;
    padding-left: 40px;
    float: left;
    background-color: aquamarine;
}

#arrow{
    width: 20px;
    height: 15px;
    padding-top: 10px;
}